.ingredient :nth-child(2){
    display: contents;
}

.ingredient{
    margin-top: 10px;
}

.ingredient h2{
    vertical-align: middle;
    font-family: Handwritten;
}

.ingredient img{
    height: 50px;
    vertical-align: middle;
    padding-right: 10px;
}

#smoothie img{
    border: 10px solid #fff;
}


#generator button{
    all: unset;
    margin-top: 10px;
    font-family: Handwritten-Bold;
}

#generator{
    height: auto;
    margin: 25px 0px;
}