

.ingredient :nth-child(2){
    display: contents;
}

.ingredients{
    margin-top: 50px !important;
}

.ingredient{
    margin-top: 10px;
}

.ingredient h2{
    vertical-align: middle;
    font-family: Handwritten;
}

.ingredient img{
    height: 50px;
    vertical-align: middle;
    padding-right: 10px;
}

#smoothie img{
    height: 50vh;
}


#generator button{
    all: unset;
    margin-top: 10px;
    font-family: Handwritten-Bold;
}

#generator{
    height: auto;
    margin: 25px auto;
}

@media (max-width: 768px){
    #smoothie img{
        margin: 15px 0px;
        height: 30vh;
    }
}