button {
    all: unset;
    height: 45px;
    width: 45px;
    margin: 20px !important;
    font-size: 25px;
}

.number-btn{
    padding: 15px 25px;
    color: #b7b7b7;
}

.active{
    transition: 1s;
    color: #000;
}

h4{
    font-family: Handwritten-Bold;
}
  