@font-face {
    font-family: Handwritten;
    src: url(../assets/fonts/Please\ write\ me\ a\ song.ttf);
}

@font-face {
    font-family: Handwritten-Bold;
    src: url(../assets/fonts/Margarine.otf);
}

html{
    font-family: Handwritten-Bold;
}

.container {
    display: flex;           
    flex-direction: column;   
    justify-content: center;   
    align-items: center; 
    height: 90vh;
}

a, a:hover, a:active{
    color: #000 !important;
    all: unset;
}

.active{
    all: unset;
}

#home h1{
    text-decoration: none;
    margin: 20px !important;
    font-family: Handwritten-Bold;
}
