@font-face {
    font-family: Handwritten;
    src: url(../assets/fonts/Margarine.otf);
}

html{
    font-family: Handwritten;
}

.container {
    display: flex;           
    flex-direction: column;   
    justify-content: center;   
    align-items: center; 
    height: 100vh;
}