@font-face {
    font-family: Handwritten;
    src: url(../assets/fonts/Please\ write\ me\ a\ song.ttf);
}

@font-face {
    font-family: Handwritten-Bold;
    src: url(../assets/fonts/Margarine.otf);
}

html{
    font-family: Handwritten-Bold;
}

.container {
    display: flex;           
    flex-direction: column;   
    justify-content: center;   
    align-items: center; 
    height: 100vh;
}